# .NET build outputs
**/bin/
**/obj/
*.dll
*.pdb
*.exe
*.json
*.cache
*.txt
# User-specific files
*.suo
*.user
*.userosscache
/.vs/Identity/FileContentIndex/5160799a-6553-4fbf-8332-0895422911f2.vsidx
